USE [master]
GO
CREATE DATABASE [OvetimePolicies]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OvetimePolicies', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER2016\MSSQL\DATA\OvetimePolicies.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OvetimePolicies_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER2016\MSSQL\DATA\OvetimePolicies_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OvetimePolicies].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OvetimePolicies]
GO
ALTER AUTHORIZATION ON DATABASE::[OvetimePolicies] TO [sa]
GO
USE [OvetimePolicies]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 12/10/2022 1:41:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](100) NULL,
	[EmploymentDate] [datetime] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreationTime] [datetime] NULL,
	[LastModifiedBy] [nvarchar](50) NULL,
	[LastModificationTime] [datetime] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[Employee] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[EmployeeSalary]    Script Date: 12/10/2022 1:41:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeSalary](
	[EmployeeSalaryId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[Year] [int] NULL,
	[Month] [int] NULL,
	[Salary] [int] NULL,
	[BasicSalary] [int] NULL,
	[Allowance] [int] NULL,
	[Transportation] [int] NULL,
	[Tax] [int] NULL,
	[Overtime] [int] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreationTime] [datetime] NULL,
	[LastModifiedBy] [nvarchar](50) NULL,
	[LastModificationTime] [datetime] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_EmployeeSalary] PRIMARY KEY CLUSTERED 
(
	[EmployeeSalaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[EmployeeSalary] TO  SCHEMA OWNER 
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

GO
INSERT [dbo].[Employee] ([EmployeeId], [FirstName], [LastName], [EmploymentDate], [CreatedBy], [CreationTime], [LastModifiedBy], [LastModificationTime], [IsDeleted]) VALUES (1, N'Morteza', N'Hasani', CAST(N'2022-12-04T17:48:05.147' AS DateTime), N'Mhasani', CAST(N'2022-12-04T17:48:05.147' AS DateTime), NULL, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
ALTER TABLE [dbo].[EmployeeSalary]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeSalary_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[EmployeeSalary] CHECK CONSTRAINT [FK_EmployeeSalary_Employee]
GO
USE [master]
GO
